<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Hacker News</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/app.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>
  <script src="//cdn.jsdelivr.net/satellizer/0.14.0/satellizer.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/controller/ContributionCtrl.js"></script>
</head>
<body ng-app="myApp" ng-controller="ContributionController">

    <div class="pageHeader">
        <b> <a href="/">Software 33 - Hacker News</a> </b>
        <a href="/">new</a>  | 
        <a href="/comments">comments</a> | 
        <a href="/ask">ask</a> | 
        <a href="/new">submit</a>
        <div class="user_session">
            <span ng-show="user.name != null">
                <a href="">Signed in as</a>
            </span>
                 <!-- link_to current_user.username, current_user %> |
                <%= link_to 'Logout', "/delete_session" %>  &nbsp;
                <div class=image2><img src= <%= current_user.profile_image %> alt="Profile Image" style="width:20px;height:20px;"></div>
            <% end %>  -->
            <span ng-show="user.name == null">
                <a href="/auth/twitter">Sign in with Twitter</a>
            </span>
        </div>
    </div>

    <div class="pageBody">
      <ul class="list-unstyled">
        <!--<li><a href="" ng-click="sortBy='createdOn'">latest</a></li>-->
        <li ng-repeat="(id, post) in asks">
          <span class="pic glyphicon glyphicon-thumbs-up" ng-click="voteUp(id)"></span>
          <span class="pic"> {{post.title}}</span>
          <br/>
          <h6><small class="text-muted subtext">
          {{post.numVotes}} points, by <b> <a href="/users/{{post.user_id}}">  {{post.userName}} </a> </b> {{post.hoursAgo}} ago | <a href="/contributions/{{post.id}}">{{post.numComments}} comments</a>
          </h6></small>
        </li>
      </ul>
    </div>

</body>