<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hacker News</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/app.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>
  <script src="//cdn.jsdelivr.net/satellizer/0.14.0/satellizer.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/controller/ContributionCtrl.js"></script>
</head>
<body ng-app="myApp" ng-controller="ContributionController">
    
     

 <div class="pageHeader">
        <b> <a href="/">Software 33 - Hacker News</a> </b>
        <a href="/">new</a>  | 
        <a href="/comments">comments</a> | 
        <a href="/ask">ask</a> | 
        <a href="/new">submit</a>
        <div class="user_session">
            <span ng-show="user.name != null">
                <a href="">Signed in as</a>
            </span>
        </div>
    </div>

<ol class=pageBody>
    
   <div class="field">
       Title: <input type="text" id="title" ng-model="cont.title">  <br>
       URL: <input type="text" id="URL" ng-model="cont.URL">  <br>
       OR <br>
       Text <input type="textarea" id="textBody" ng-model="cont.text"/>
  </div>
  
  <button id="submitId" onclick="check()" >Submit</button>

</ol>

<script>
function check() {
    var title = document.getElementById("title").value;
    var url = document.getElementById("URL").value;
    var textBody = document.getElementById("textBody").value;
    if(title == "") {
        alert("You must enter a title");
    }
    else if(url == "" && textBody == "") {
        alert("You must enter an URL or a text");
    }
    else if(url != "" && textBody != "") {
        alert("You must enter just URL or text");
    }
    else if (url != "" && !correctURL(url)) {
        alert("Invalid URL");
    }
    else {
        alert("CORRECT " + url);
        angular.element(document.getElementById('submitId')).scope().createContribution(title,url,textBody);
    //    window.location = "http://www.yoururl.com";
        
         var path = "/";
        window.location.href = path;
    }
    //createContribution(cont.title,cont.URL,cont.text)
}
function correctURL(element) {
   var urlregex = /^(https?|ftp):\/\/([a-zA-Z0-9.-]+(:[a-zA-Z0-9.&%$-]+)*@)*((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}|([a-zA-Z0-9-]+\.)*[a-zA-Z0-9-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(:[0-9]+)*(\/($|[a-zA-Z0-9.,?'\\+&%$#=~_-]+))*$/;
    return urlregex.test(element);
}
</script>
    
</body>
</html>