<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Hacker News</title>
  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/app.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>
  <script src="//cdn.jsdelivr.net/satellizer/0.14.0/satellizer.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/controller/ContributionCtrl.js"></script>
  <script src="/controller/CommentCtrl.js"></script>
  <script src="/controller/ReplyCtrl.js"></script>
  <script src="/controller/LoginCtrl.js"></script>
</head>
<body ng-app="myApp" ng-controller="ReplyController">
    
     

 <div class="pageHeader">
        <b> <a href="/">Software 33 - Hacker News</a> </b>
        <a href="/">new</a>  | 
        <a href="/comments">comments</a> | 
        <a href="/ask">ask</a> | 
        <a href="/new">submit</a>
        <div class="user_session">
            <span ng-show="user.name != null">
                <a href="">Signed in as</a>
            </span>
        </div>
    </div>

<ol class=pageBody >
    
   <div class="field" >
       Title: <input type="text" id="body" ng-model="cont.title">  <br>
  </div>
  
  <button id="submitId" onclick="check()" >Submit</button>

</ol>

<script>
function check() {
    var title = document.getElementById("body").value;
    if(title == "") {
        alert("You must enter a title");
    }
    else {
        alert("CORRECT");
//         var cont = angular.element(document.getElementById('ContributionController')).scope().ContributionController.getContribution();
     //   angular.element(document.getElementById('ContributionController')).getContribution()[0].id;
        //alert();
        angular.element(document.getElementById('submitId')).scope().newReply(title);
        window.history.back();
    } 
    //createContribution(cont.title,cont.URL,cont.text)
}
</script>
    
</body>
</html>