<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Hacker News</title>
  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/app.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>
  <script src="//cdn.jsdelivr.net/satellizer/0.14.0/satellizer.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/controller/ContributionCtrl.js"></script>
    <script src="/controller/UserCtrl.js"></script>
  <script src="/controller/CommentCtrl.js"></script>
  <script src="/controller/ReplyCtrl.js"></script>
  <script src="/controller/LoginCtrl.js"></script>
</head>
<body>
    <div class="pageHeader">
        <b> <a href="/">Software 33 - Hacker News</a> </b>
        <a href="/">new</a>  | 
        <a href="/comments">comments</a> | 
        <a href="/ask">ask</a> | 
        <a href="/new">submit</a>
        <div class="user_session">
            <span ng-show="user.name != null">
                <a href="">Signed in as</a>
            </span>
                 <!-- link_to current_user.username, current_user %> |
                <%= link_to 'Logout', "/delete_session" %>  &nbsp;
                <div class=image2><img src= <%= current_user.profile_image %> alt="Profile Image" style="width:20px;height:20px;"></div>
            <% end %>  -->
            <div ng-controller="LoginCtrl">
              <span ng-show="user.name == null" >
                  <button ng-click="authenticate('twitter')">Sign in with Twitter</button>
              </span>
              </div>
        </div>
    </div>
    
     <div class="pageBody" ng-controller="UserController">
    <ol class=pageBody>
    <div class=image>
            <img src= {{user.profile_image}} alt="Profile Image" style="width:100px;height:100px;">
    </div>
    <div class=text>
            <br>
            User:  {{user.username}}  <br><br>
            Created: {{user.hoursAgo}} ago <br>
    <div ng-switch="user.auth_token">      
      <span ng-switch-when="undefined">
             <!-- not you -->
        </br> 
        </br> about: {{user.about}}
        </br> mail : {{user.mail}}
        </span>      
      <span ng-switch-default>
          <!-- you -->
        </br> 
        </br> ApiKey: {{user.auth_token}}
        </br> about: <input type="text" id="about" ng-model="user.about"> 
        </br> mail :  <input type="text" id="mail" ng-model="user.mail"> 
        </br> <button id="submitId" onclick="check()" >Submit</button>
        <script>
            function check() {
                var about = document.getElementById("about").value || null;
                var mail  = document.getElementById("mail").value || null;
                angular.element(document.getElementById('submitId')).scope().updateUser(about,mail);
                 alert("Perfil actualitzat");
            }
        </script>
      </span>
      <br>Karma: 0
      
    </div>
    
    
    <!--<div>
           
                <br>
                    <td>About: <%= @user.about %></td>  <br>
                    <br>Karma: <%= @user.get_voted_contributions%>
                    <br> <br>
                    <% session[:threads_id] = @user.id %>
                    <%= link_to 'THREADS', "/thread/" + String(@user.id) %>
            <% end %>
        </div>
</br>-->
</ol> 
</div>
</html>