<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Hacker News</title>
  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/app.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>
  <script src="//cdn.jsdelivr.net/satellizer/0.14.0/satellizer.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/controller/ContributionCtrl.js"></script>
  <script src="/controller/CommentCtrl.js"></script>
  <script src="/controller/ReplyCtrl.js"></script>
  <script src="/controller/LoginCtrl.js"></script>
</head>
<body>
    <div class="pageHeader">
        <b> <a href="/">Software 33 - Hacker News</a> </b>
        <a href="/">new</a>  | 
        <a href="/comments">comments</a> | 
        <a href="/ask">ask</a> | 
        <a href="/new">submit</a>
        <div class="user_session">
            <span ng-show="user.name != null">
                <a href="">Signed in as</a>
            </span>
            <div ng-controller="LoginCtrl">
              <span ng-show="user.name == null" >
                  <button ng-click="authenticate('twitter')">Sign in with Twitter</button>
              </span>
              </div>
        </div>
    </div>

    <div class="pageBody" ng-controller="ContributionController">
        
    <div class="titol">
      {{ getContribution()[0].title }} | <span class="pic glyphicon glyphicon-thumbs-up" ng-click="upvoteComment(getContribution()[0].id)"></span>
      <br> 
    </div>
    
     <div class="subtitle">
      <td> {{ getContribution()[0].numVotes }} points </td>
      <td> by: <b>  <a href="/users/{{getContribution()[0].user_id}}">{{ getContribution()[0].userName }} </a> </b> </td> 
      <td>{{ getContribution()[0].hoursAgo }}</td>
      <td>{{ago}} ago</td>
      
    </div>
    
    <div class="textPreguntaOUrl">
       {{ getContribution()[0].text }}
       {{ getContribution()[0].url }}
    </div>
    
     <p>
         </br></br>
         New Comment 
         </br> <input type="text" id="comment" ng-model="cont.text"> 
         </br>
         <button id="submitId" onclick="check()" >Submit</button>
     </p>


    <script>
        function check() {
            var comment = document.getElementById("comment").value;
            if(comment == "") {
                alert("You must enter a body");
            }
            else {
                var id = angular.element(document.getElementById('submitId')).scope().getContributionId();
                var body = document.getElementById('comment').value;
                alert("id: " + id + ", body: " + body);
                angular.element(document.getElementById('submitId')).scope().newComment(id,body);
                window.location.reload();
            }
        }
    </script>
     
     <div class="CommentBody" ng-controller="CommentController">
       <ol ng-repeat="(id, post) in getContribution()[0].getComments">
            <span>{{id+1}} {{post.body}} | </span>
            <span class="pic glyphicon glyphicon-thumbs-up" ng-click="upvoteComment(post.id)"></span>
            <a href="/reply/{{post.id}}">
                <input type="submit" value="Reply">
            </a>
            <h6><small class="text-muted subtext">
              {{post.numVotes}} points, by <b>  <a href="/users/{{post.user_id}}"> {{post.userName}} </b> {{post.hoursAgo}} ago
              </small></h6>
              <div class="repliesList" ng-controller="ReplyController">
                  <ol ng-repeat="(id, reply) in post.getReplies">
                    <span>{{id+1}}. {{reply.body}}</span>
                    <span class="pic glyphicon glyphicon-thumbs-up" ng-click="upvoteReply(reply.id)"></span>
                    <br/>
                    <h6><small class="text-muted subtext">
                        {{reply.numVotes}} points, by <b>  <a href="/users/{{reply.user_id}}"> {{reply.userName}} </a> </b> {{reply.hoursAgo}} ago
                    </small></h6>
                  </ol>
              </div>
         </ol>
    </div>

</body>
</html>