/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
}

/* el mismo css del otro projecto */

.pageHeader{
    overflow: hidden;
    font: 18px arial, sans-serif;
    background: #FF6600;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: auto;
    width: 91.3%;
    padding-left: 1em;
}

.pageBody{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    width: 91%;
    background: #F6F6EF;
}

.ContributionBody{
    font: 12px arial, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

ol {
    padding-top:1.1em;
    padding-left: 1.8em; 
}

.subtitle{
    font: 10px arial, sans-serif;
}

.pageCommentBody{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    width: 91%;
    background: #F6F6EF;
    list-style-type:none;
} 

.image {
  float:left;
  text-align: center;
  vertical-align:middle;
}

.image2 {
  float:right;
}

.text {
  margin-left: 9em;
}

.user_session{
    float: right;
    padding-right: 1em;
}